
<meta charset="utf-8">

<form>
<div>
	<label for="recipientName">取引先名</label>
	<div>
		<input name="recipientName">
	</div>
</div>

<div>
	<label for="recipientTitle">敬称</label>
	<div>
		<input name="recipientTitle">
	</div>
</div>

<div>
	<label for="recipientRuby">ふりがな</label>
	<div>
		<input name="recipientRuby">
	</div>
</div>

<div>
	<label for="taxOption">消費税設定</label>
	<div>
		<input name="taxOption" list="taxOptionList">
	</div>
	<datalist id="taxOptionList">
		<option value="USE_SENDER">USE_SENDER</option>
		<option value="INCLUDE">INCLUDE</option>
		<option value="EXCLUDE">EXCLUDE</option>
		<option value="EXEMPT">EXEMPT</option>
	</datalist>
</div>

<div>
	<label for="recipientCode">管理コード</label>
	<div>
		<input name="recipientCode">
	</div>
</div>

<div>
	<label for="recipientNotes">部署・担当者</label>
	<div>
		<input name="recipientNotes">
	</div>
</div>

<div>
	<label for="recipientMailAddress">メールアドレス</label>
	<div>
		<input name="recipientMailAddress">
	</div>
</div>

<div>
	<label for="recipientMailAddressCc">メールアドレス(CC)</label>
	<div>
		<input name="recipientMailAddressCc">
	</div>
</div>

<div>
	<label for="recipientZipCode">郵便番号</label>
	<div>
		<input name="recipientZipCode">
	</div>
</div>

<div>
	<label for="recipientAddress1">住所１</label>
	<div>
		<input name="recipientAddress1">
	</div>
</div>

<div>
	<label for="recipientAddress2">住所２</label>
	<div>
		<input name="recipientAddress2">
	</div>
</div>

<div>
	<label for="recipientName1">郵送先の宛名１</label>
	<div>
		<input name="recipientName1">
	</div>
</div>

<div>
	<label for="recipientName2">郵送先の宛名２</label>
	<div>
		<input name="recipientName2">
	</div>
</div>

<div>
	<label for="recipientName3">郵送先の宛名３</label>
	<div>
		<input name="recipientName3">
	</div>
</div>

<div>
	<label for="recipientName4">郵送先の宛名４</label>
	<div>
		<input name="recipientName4">
	</div>
</div>

<div>
	<label for="recipientTitle2">郵送先の敬称</label>
	<div>
		<input name="recipientTitle2">
	</div>
</div>

<div>
	<label for="recipientTelNo">電話番号</label>
	<div>
		<input name="recipientTelNo">
	</div>
</div>

<div>
	<label for="recipientFaxNo">FAX番号</label>
	<div>
		<input name="recipientFaxNo">
	</div>
</div>

<div>
	<label for="memo">メモ</label>
	<div>
		<input name="memo">
	</div>
</div>
</form>
